/* *{
    margin: 0;
    padding: 0;
} */
/* common shared styles */
body{
    font-family: 'Lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #FFF8F3;
}
/* nav style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}
nav ul {
    align-items: center;
    display: flex;
    list-style: none;
}
nav li{
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 500px;
}